:root {
  --color-white: rgba(255, 255, 255, 1);
  --color-grey-light: rgba(242, 242, 242, 1);
  --color-grey: rgba(226, 226, 226, 1);
  --color-grey-dark: rgba(112, 112, 112, 1);
  --color-blue: rgba(0, 165, 217, 1);
  --spacer: 12px;
}

html, body {
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.main {
  margin-left: 86px;
  width: calc(100vw - 86px);
  height: 100vh;
}

.content {
  height: 100vh;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.content__sidebar {
  background: var(--color-grey-light);
  border-right: 2px solid var(--color-grey);
  width: 420px;

  padding: var(--spacer);
}